/*
 * german resource file for MS-RLE
 *
 * Copyright 2002 Michael Günnewig
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF
 * OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
{
	IDS_NAME	"WINE-MS-RLE"
	IDS_DESCRIPTION	"Wine MS-RLE Videodekoder"
	IDS_ABOUT       "Wine MS-RLE Videodekoder\nCopyright 2002 by Michael Günnewig"
}
