#define WINE_FILEVERSION 5,3,0,900
#define WINE_PRODUCTVERSION 5,3,0,900
#define WINE_FILEDESCRIPTION_STR "DirectSound"
#define WINE_FILENAME_STR "dsound.dll"
#define WINE_PRODUCTVERSION_STR "5.3.0000000.900"
#define WINE_PRODUCTNAME_STR "NVIDIA Corporation WineX"
#define WINE_FILEVERSION_STR "5.3.0000000.900 built by: WineX"

#include "wine/wine_common_ver.rc"
