*.d
*.spec.c
*.dylib
Makefile
*.diff
*.so
*.tab.[ch]
*.glue.c
lex.yy.c
parser.yy.c
lex.ppl.c
*.res
configure
config.log
config.status
TAGS
autom4te.cache
Make.rules
*.orig
*.o
*.exe
*.d
*.a
*.rej
testlist.c
*.tlb
/miscemu/wine-preloader
/include/mlang.h

